.not-found-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.not-found-image {
  height: 60vh;
  width: 35vw;
}
.not-found-heading {
  color: #1e293b;
  font-weight: bold;
  font-size: 26px;
}
.not-found-para {
  color: #475569;
  font-weight: normal;
  font-size: 20px;
  font-weight: 450;
  margin-top: 0px;
}
