.bg-container {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  padding-left: 40px;
  padding-top: 50px;
}
.heading {
  color: #1e293b;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}
.ul-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.failure-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 60vh;
  width: 35vw;
}
.failure-heading {
  color: #1e293b;
  font-weight: bold;
  font-size: 26px;
}
.failure-para {
  color: #475569;
  font-weight: normal;
  font-size: 20px;
  font-weight: 450;
  margin-top: 0px;
}
.failure-btn {
  background-color: #4656a1;
  color: #ffffff;
  border: 0 none;
  border-radius: 7px;
  padding: 17px;
  font-family: 'Roboto';
  font-size: 18px;
  width: 8vw;
  font-weight: bold;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
